# Curso Data Science

## Primer pre-entrega

### Primera database candidata: Global Trends in Mental Health Disorder

#### Descripción de la dataset:

Este conjunto de datos contiene información de países de todo el mundo sobre la prevalencia de trastornos mentales como la esquizofrenia, el trastorno bipolar, los trastornos alimentarios, los trastornos de ansiedad, los trastornos por consumo de drogas, la depresión y los trastornos por consumo de alcohol. Al ofrecer estos datos en un formato fácil de visualizar, puede hacerse una idea de cómo afectan estos problemas a la vida de las personas, lo que permite una comprensión más profunda de estas afecciones y sus implicaciones. A través de esta reflexión podrá responder a algunas preguntas importantes:

¿Cuáles son los tipos de trastornos mentales que sufren las personas en todo el mundo?

¿Cuántas personas sufren problemas de salud mental en cada país?

¿Tienen más probabilidades de sufrir depresión los hombres o las mujeres?

¿Está la depresión relacionada con el suicidio y cuál es el porcentaje?

¿En qué grupos de edad es más frecuente la depresión?

Explorando patrones entre las tasas de prevalencia a través de una profunda visualización de los datos podrá comprender mejor estas complejas cuestiones. El conocimiento adquirido a partir de este conjunto de datos puede ayudar a aportar valiosas habilidades para la toma de decisiones, como becas de investigación, elaboración de políticas o planes de intervención preventiva en diversos países.

Cada fila de la tabla contiene información sobre un determinado país o región para un determinado año. Las columnas son las siguientes:
Entity (el nombre del país o región), Code (el código del país o región), Year (el año en que se recogieron los datos) Schizophrenia (% - porcentaje de personas con esquizofrenia), Bipolar Disorder (% - porcentaje de personas con trastorno bipolar), Eating Disorder (% - porcentaje de personas con patrones alimentarios desordenados), Anxiety Disorders (% - porcentaje de personas con ansiedad), Drugs Use Disorders (% - cifras porcentuales de las personas que luchan contra el abuso de sustancias), Depression (% - porcentajes relativos a las personas que luchan contra la enfermedad depresiva), Alcohol Use Disorders (% - porcentajes relativos a las personas que luchan contra el alcoholismo).

#### Algunas ideas para investigar son:

-Visualizar la prevalencia de los trastornos mentales: Crear una visualización de datos que compare y contraste la prevalencia de la depresión, la ansiedad, el trastorno bipolar, la esquizofrenia, los trastornos alimentarios, el trastorno por consumo de alcohol y el trastorno por consumo de drogas en diferentes países. Esto podría ayudar a comprender mejor las diferencias globales en salud mental y las posibles causas de esas diferencias.

-Cartografía de las tasas de depresión: Crear un mapa interactivo que muestre las variaciones regionales y nacionales en las tasas de depresión dentro de un país o región concretos. Esto permitiría a los ciudadanos identificar fácilmente las zonas con una prevalencia de la depresión superior o inferior a la media, lo que podría ayudar a informar a los responsables de la toma de decisiones a la hora de elaborar políticas relacionadas con la prestación de servicios de salud mental.

-Desarrollo de modelos predictivos para la salud mental: Utilizar los datos para construir modelos predictivos para la salud mental en países o regiones basados en diversos factores como la demografía, los indicadores económicos, etc. Esto puede ser útil para los investigadores que trabajan en la comprensión de la susceptibilidad de las poblaciones a desarrollar ciertos trastornos con el fin de elaborar estrategias preventivas adecuadas en consecuencia.

#### Leemos  y visualizamos la Dataset

In [2]:
import pandas as pd

DataSet1=pd.read_csv(r'/home/anakin/Documents/CursoDataScience/candidatos/Mental_health_Depression_disorder_Data.csv',low_memory=False)

In [13]:
DataSet1.head(10000)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Bangladesh,BGD,1956,NaN,NaN,43114000.000000,NaN,NaN,NaN,NaN
9996,9996,Bangladesh,BGD,1957,NaN,NaN,44233000.000000,NaN,NaN,NaN,NaN
9997,9997,Bangladesh,BGD,1958,NaN,NaN,45435000.000000,NaN,NaN,NaN,NaN
9998,9998,Bangladesh,BGD,1959,NaN,NaN,46701000.000000,NaN,NaN,NaN,NaN
9999,9999,Bangladesh,BGD,1960,NaN,NaN,48014000.000000,NaN,NaN,NaN,NaN

### Segunda database candidata: Global Weather Trends

#### Descripción de la dataset:

Este conjunto de datos contiene más de 4800 registros de datos recopilados a partir del 19 de enero de 2020, que muestran diversas tendencias meteorológicas globales como la temperatura, la dirección del viento, las condiciones del cielo y la presión. A partir de este conjunto de datos meteorológicos podrá conocer el clima actual de una zona o la previsión para una hora determinada. También permite ver ubicaciones y países para un seguimiento más preciso de la localización. Estos datos pueden dar una idea de las tendencias y condiciones locales en un momento dado, como los puntos de rocío, los límites de visibilidad e incluso informes individuales sobre fenómenos atmosféricos. Con este amplio conjunto de datos recogidos a escala mundial, se pueden construir representaciones precisas del clima en todo el mundo con toda la información necesaria para analizar los efectos del calentamiento global a lo largo del tiempo.

Las columnas son las siguientes:

current_time: Hora actual del informe meteorológico. (DateTime)

crawled_at: Hora a la que se recogieron los datos. (DateTime)

pressure: La presión atmosférica en la zona. (Entero)

country: País del que proceden los datos. (string)

wind_direction: Dirección del viento. (string)

sky: Las condiciones del cielo. (string)

visibility: La visibilidad en la zona. (Integer)

temparature: Temperatura de la zona. (Integer)

dev_point: Punto de rocío en la zona. (Integer)

place: Lugar del que proceden los datos. (string)

location: La ubicación de los datos. (string)

data_category: Categoría de los datos. (string)

latest_report: El último informe meteorológico. (string)

forecast: La previsión para la zona. (string)

feels_like: La temperatura que hace en la zona. (Integer)

#### Algunas ideas para investigar son:

-Identificar las tendencias del cambio climático mundial comparando los valores actuales de diversas condiciones meteorológicas con los valores históricos durante un largo periodo de tiempo.

-Desarrollar un sistema de información meteorológica en tiempo real en múltiples países, basado en los datos de este conjunto de datos.

-Implementar modelos de aprendizaje automático para predecir con precisión los patrones y movimientos meteorológicos con el fin de desarrollar previsiones más precisas para el futuro.

#### Leemos  y visualizamos la Dataset

In [3]:
DataSet2=pd.read_csv(r'/home/anakin/Documents/CursoDataScience/candidatos/weather_dataset_19-01-2020.csv')

In [4]:
DataSet2.head(4500)

,index,current_time,crawled_at,pressure,country,wind_direction,sky,uniq_id,visibility,temparature,dev_point,place,location,data_category,latest_report,wind,forecast,feels_like,index_date_format
0,0,"19 Jan 2020, 11:06:34",Sun Jan 19 15:36:34 2020,1020 mbar,Albania,from Southeast,Broken clouds.,6817a79c-0213-5c79-bb75-88bc16ca44dd,N/A,11 °C,8 °C,"Weather in Gjirokastër, Albania",Kerkyra Airport,weather,"19 Jan 2020, 10:20",11 km/h,13 / 2 °C,10 °C,2020.01.19
1,1,"19 Jan 2020, 20:36:34",Sun Jan 19 15:36:34 2020,1008 mbar,Australia,from South,Cool.,215d740f-ed79-5643-80a3-5fdcbc7b6b54,N/A,16 °C,15 °C,"Weather in Mount Gambier, South Australia, Au...",Mount Gambier Aerodrome,weather,"19 Jan 2020, 19:30",30 km/h,16 / 13 °C,16 °C,2020.01.19
2,2,"19 Jan 2020, 21:06:34",Sun Jan 19 15:36:34 2020,1006 mbar,Australia,na,Mild.,fe46e09e-8735-54bd-9e86-19ae8335e915,N/A,22 °C,19 °C,"Weather in Eden, New South Wales, Australia",Green Cape Aws,weather,"19 Jan 2020, 20:00",No wind,25 / 18 °C,21 °C,2020.01.19
3,3,"19 Jan 2020, 11:06:34",Sun Jan 19 15:36:34 2020,1012 mbar,Angola,from Southwest,Scattered clouds.,6aa0c99b-30b6-5e10-bddc-523b24ca8f63,N/A,30 °C,25 °C,"Weather in Cabinda, Angola",Pointe Airport-Noire,weather,"19 Jan 2020, 10:00",7 km/h,30 / 26 °C,36 °C,2020.01.19
4,4,"19 Jan 2020, 11:06:34",Sun Jan 19 15:36:35 2020,N/A,Austria,from Southwest,Overcast.,6fc9e671-d5ad-563f-8c03-ade510d95ef0,12 km,-2 °C,-5 °C,"Weather in Mayrhofen, Tyrol, Austria",Krimml,weather,"19 Jan 2020, 10:00",2 km/h,0 / -9 °C,-2 °C,2020.01.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,4495,"19 Jan 2020, 11:13:58",Sun Jan 19 15:43:58 2020,1038 mbar,Netherlands,from North,Broken clouds.,7eb38ad4-1084-5ceb-9694-fa7fd3b45291,N/A,2 °C,2 °C,"Weather in Amersfoort, Netherlands",Deelen,weather,"19 Jan 2020, 10:25",11 km/h,6 / 0 °C,-1 °C,2020.01.19
4496,4496,"19 Jan 2020, 11:13:58",Sun Jan 19 15:43:58 2020,1038 mbar,Netherlands,from North,Quite cool.,a82143ee-7c3b-575d-99e7-837640c75789,N/A,5 °C,2 °C,"Weather in Tilburg, Netherlands",Gilze-Rijen,weather,"19 Jan 2020, 10:25",13 km/h,6 / -1 °C,2 °C,2020.01.19
4497,4497,"19 Jan 2020, 11:13:58",Sun Jan 19 15:43:58 2020,1039 mbar,Netherlands,from North,Passing clouds.,06cb713a-d0cd-5de7-afa5-6d7e4357cf88,N/A,6 °C,2 °C,"Weather in Haarlem, Netherlands",Amsterdam Schiphol Airport,weather,"19 Jan 2020, 10:25",15 km/h,6 / 2 °C,3 °C,2020.01.19
4498,4498,"19 Jan 2020, 11:13:58",Sun Jan 19 15:43:58 2020,1037 mbar,Netherlands,from Northwest,Passing clouds.,81f969aa-807a-5300-94ba-198336dac12e,N/A,4 °C,3 °C,"Weather in Groningen, Netherlands",Groningen Eelde Airport,weather,"19 Jan 2020, 10:25",9 km/h,7 / 1 °C,2 °C,2020.01.19
4499,4499,"19 Jan 2020, 11:13:58",Sun Jan 19 15:43:58 2020,1039 mbar,Netherlands,from North,Quite cool.,47b9d775-6225-59e3-8555-cc02255f30bb,N/A,7 °C,3 °C,"Weather in The Hague, Netherlands",Rotterdam Zestienhoven Airport,weather,"19 Jan 2020, 10:55",6 km/h,7 / 3 °C,6 °C,2020.01.19

### Tercera database candidata: Credit Card Approval

#### Descripción de la dataset:

Las tarjetas de calificación crediticia son un método de control de riesgos habitual en el sector financiero. Utiliza la información personal y los datos presentados por los solicitantes de tarjetas de crédito para predecir la probabilidad de futuros impagos y préstamos de tarjetas de crédito. El banco puede decidir si emite una tarjeta de crédito al solicitante. Las puntuaciones de crédito pueden cuantificar objetivamente la magnitud del riesgo.
 
En general, las tarjetas de puntuación de crédito se basan en datos históricos. Una vez que se enfrentan a grandes fluctuaciones económicas. Los modelos anteriores pueden perder su poder predictivo original. El modelo logístico es un método habitual para la puntuación crediticia. Porque el dicho modelo es adecuado para tareas de clasificación binaria y puede calcular los coeficientes de cada característica. Para facilitar la comprensión y el funcionamiento, la tarjeta de puntuación multiplicará el coeficiente de regresión logística por un valor determinado (como 100) y lo redondeará.
 
En la actualidad, con el desarrollo de los algoritmos de aprendizaje automático. Se han introducido en la puntuación de tarjetas de crédito métodos más predictivos como Boosting, Random Forest y Support Vector Machines. Sin embargo, estos métodos no suelen ser muy transparentes. Puede ser difícil proporcionar a los clientes y a los reguladores una razón para el rechazo o la aceptación.

Las columnas son las siguientes:

application_record.csv:

ID: Número de cliente	

CODE_GENDER: Sexo	

FLAG_OWN_CAR: ¿Hay un coche?	

FLAG_OWN_REALTY: ¿Hay una propiedad?	

CNT_CHILDREN: Número de hijos	

AMT_INCOME_TOTAL: Ingresos anuales	

NAME_INCOME_TYPE: Categoría de ingresos	

NAME_EDUCATION_TYPE: Nivel de estudios	

NAME_FAMILY_STATUS: Estado civil	

NAME_HOUSING_TYPE: Forma de vida	

DAYS_BIRTH: Cumpleaños Cuenta hacia atrás desde el día actual (0), -1 significa ayer

DAYS_EMPLOYED: Fecha de inicio del empleo Cuenta hacia atrás desde el día actual (0). Si es positivo, significa que 
la persona está desempleada actualmente.

FLAG_MOBIL: Tiene teléfono móvil	

FLAG_WORK_PHONE: Hay teléfono en el trabajo	

FLAG_PHONE: Hay teléfono	

FLAG_EMAIL: Tiene correo electrónico	

OCCUPATION_TYPE: Ocupación	

CNT_FAM_MEMBERS: Tamaño de la familia



credit_record.csv:

ID: Número de cliente	

MONTHS_BALANCE: Mes de registro El mes de los datos extraídos es el punto de partida, hacia atrás, 0 es el mes actual, -1 es el mes anterior, y así sucesivamente

STATUS: Estado 0: 1-29 días de mora 1: 30-59 días de mora 2: 60-89 días de mora 3: 90-119 días de mora 4: 120-149 días de mora 5: Deudas vencidas o incobrables, cancelaciones durante más de 150 días C: saldadas ese mes X: Sin préstamo ese mes

#### Algunas ideas para investigar son:

Construir un modelo de aprendizaje automático para predecir si un candidato es un cliente "bueno" o "malo", a diferencia de otras tareas, no se da la definición de "bueno" o "malo". Deberemos utilizar alguna técnica, como el análisis vintage, para construir la etiqueta. Además, el desequilibrio de los datos es un gran problema en esta tarea.

#### Leemos  y visualizamos la Dataset

In [9]:
DataSet3_1=pd.read_csv(r'/home/anakin/Documents/CursoDataScience/candidatos/Credit_card/application_record.csv')

In [11]:
    DataSet3_2=pd.read_csv(r'/home/anakin/Documents/CursoDataScience/candidatos/Credit_card/credit_record.csv')

In [14]:
DataSet3_1.head(5000)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5024487,F,N,Y,0,225000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-20302,-10259,1,0,0,0,Medicine staff,1.0
4996,5024488,M,N,Y,0,171000.0,Working,Secondary / secondary special,Married,House / apartment,-21717,-2042,1,0,0,0,Drivers,2.0
4997,5024489,M,N,Y,0,171000.0,Working,Secondary / secondary special,Married,House / apartment,-21717,-2042,1,0,0,0,Drivers,2.0
4998,5024490,M,N,Y,1,135000.0,Working,Secondary / secondary special,Married,Rented apartment,-10414,-2742,1,1,1,0,Laborers,3.0
4999,5024491,M,N,Y,1,135000.0,Working,Secondary / secondary special,Married,Rented apartment,-10414,-2742,1,1,1,0,Laborers,3.0

In [13]:
DataSet3_2.head(5000)

           ID  MONTHS_BALANCE STATUS
0     5001711               0      X
1     5001711              -1      0
2     5001711              -2      0
3     5001711              -3      0
4     5001712               0      C
...       ...             ...    ...
4995  5001951             -15      0
4996  5001951             -16      0
4997  5001951             -17      0
4998  5001951             -18      0
4999  5001951             -19      0

[5000 rows x 3 columns]

### Cuarta database candidata: BigMart Product Sales Factors

#### Descripción de la dataset:

Explorando estos datos, podemos identificar y evaluar el impacto de los atributos de los productos y las características de los establecimientos que influyen en las ventas. Analizando el peso, el contenido de grasa, la visibilidad, los tipos de artículos, el precio máximo de venta al público (PVP), el tamaño del establecimiento, el tipo de ubicación y el tipo de características del establecimiento sobre los datos de ventas de 1559 productos en 10 tiendas de diferentes ciudades -todos ellos recopilados en 2013 por BigMart- podemos crear modelos que predicen con precisión los volúmenes de ventas de productos. Este conjunto de datos nos anima a profundizar y analizar cómo las características individuales, como el peso, el tamaño o la visibilidad de los artículos, influyen en nuestra capacidad para comprender las medidas de rendimiento de las tiendas, como la cuota de mercado o el valor medio de la cesta de la compra. Por último, nos permite desentrañar la relación entre las estrategias de los minoristas, como las promociones o las ofertas, y el éxito en la tienda, lo que nos ofrece una imagen real de los factores que contribuyen al éxito de los productos en las distintas tiendas de los distintos mercados.

 Este conjunto de datos contiene datos de ventas de 1559 productos en 10 tiendas de diferentes ciudades recopilados en 2013 por científicos de datos de BigMart. Este conjunto de datos ofrece una interesante oportunidad para explorar el impacto de los atributos de los productos y las características de las tiendas en las ventas de productos, desde la forma en que se perciben y presentan los productos en las tiendas hasta la ubicación y el tipo de establecimiento.

Las columnas son las siguientes:

Item_Weight: Peso del producto en kilogramos. 

Item_Fat_Content: Contenido de grasa del producto. 

Item_Visibility: Visibilidad del producto en la tienda o en línea. 

Item_Type: Tipo de producto, como ofertas limitadas o sin oferta. 

Item_MRP: Precio máximo de venta del producto. 

Outlet_Establishment_Year: Año de establecimiento del punto de venta. 

Outlet_Size: Tamaño del punto de venta, minorista o supermercado. 

Outlet_Location_Type: Tipo de ubicación del punto de venta, como zona urbana o rural. 

Outlet_Type: Tipo de punto de venta, como grandes almacenes o supermercados. 

Item_Outlet_Sales: Ventas del producto en el punto de venta.

#### Algunas ideas para investigar son:

-Utilizar los datos para predecir la configuración óptima de la tienda que maximizaría las ventas de productos. Comprendiendo los efectos de los atributos del producto, la ubicación de la tienda y el tipo de establecimiento, se podría determinar qué tipo de productos deberían almacenarse en qué tiendas concretas para aumentar las ventas.

-Utilizar el análisis de datos para examinar las preferencias de compra de los clientes e identificar qué artículos son más populares en las distintas ciudades o zonas en función de características demográficas como los ingresos o el grupo de edad. Esto permitiría establecer modelos de predicción específicos para la fijación de precios, la promoción y las decisiones de almacenamiento de existencias relacionadas con esos productos.

-Aprovechar estos datos para optimizar las estrategias de marketing determinando cuándo es más probable que los artículos rebajados se vendan mejor que los de precio completo, las diferencias culturales en las preferencias de compra entre ciudades o predecir tendencias futuras basándose en patrones de ventas históricos utilizando algoritmos de aprendizaje automático como el aprendizaje por refuerzo o los árboles de decisión.

#### Leemos  y visualizamos la Dataset

In [3]:
DataSet4=pd.read_csv(r'/home/anakin/Documents/CursoDataScience/candidatos/BigMart_product_sales.csv')

In [4]:
DataSet4.head(10000)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138000
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.422800
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270000
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.380000
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NCH43,NaN,Low Fat,0.070227,Household,217.1192,OUT027,1985,Medium,Tier 3,Supermarket Type3,5094.871260
9996,DRE60,9.395,Low Fat,0.159334,Soft Drinks,224.3720,OUT046,1997,Small,Tier 1,Supermarket Type1,2735.864489
9997,FDD17,NaN,Low Fat,0.032469,Frozen Foods,236.1906,OUT027,1985,Medium,Tier 3,Supermarket Type3,5886.419155
9998,NCM54,17.700,Low Fat,0.051227,Household,127.2678,OUT017,2007,NaN,Tier 2,Supermarket Type1,1911.591554
9999,NCH55,16.350,Low Fat,0.034643,Household,127.4020,OUT013,1987,High,Tier 3,Supermarket Type1,1959.205272